@using Backend1
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="C:\учеба 2020\Веб20\Web 2 semestr\Лабы\Web-Backend1\Backend1\Views\_ViewImports.cshtml">C:\учеба 2020\Веб20\Web 2 semestr\Лабы\Web-Backend1\Backend1\Views\_ViewImports.cshtml</a>